body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
}

section#contact {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align text */
}

header {
    margin-bottom: 20px;
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #3498db;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
}

p {
    color: #555;
    margin-bottom: 10px;
}

hr {
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

.links {
    margin-left: 40%;
}
