body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align text */
}

h1 {
    color: #2c3e50;
}

h3 {
    color: #3498db;
}

p {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

/* Additional styles for skills section */
h3 + p {
    margin-top: -10px; /* Adjust spacing between skills and competence sections */
}

h3 {
    margin-top: 20px; /* Add spacing above competence sections */
}

/* Style for competence sections */
h3, p {
    margin-bottom: 10px;
}
.links {
    margin-left: 40%;
}
img{
    margin-left: 30%;
    }